<div class="container-fluid constyle">
    <div class="aboutBack">
        <h1> About the Artist </h1>
        <div class="image">
            <img src="assets/images/pic1.jpg" alt="">
        </div>
        
        <p> Greetings, Rathik Pratap Singh here, a skilled sketch artist from Uttar Pradesh. Allow me to introduce myself. For years now, since 2018 to be precise, I have dedicated myself to the art of sketching, a passion that runs deep within me. The world of pencil sketching is an incredibly fulfilling and demanding one, an art form that brings me immense joy. </p>
                    <p> My area of expertise lies in portrait sketching, where I have honed my skills by capturing the likenesses of friends, family, and even strangers. But it doesn't stop there. My aim is to go beyond mere physical representation and delve into the very essence of the individuals I portray, striving to encapsulate their personalities within my art. </p>
                    <p> I am in a perpetual quest for self-improvement, constantly refining my pencil sketching techniques. The desire to find new subjects to bring to life on paper drives me forward. If you happen to be in India and desire a bespoke sketch, I am at your service. Do not hesitate to reach out, for it would be my utmost pleasure to accommodate your request. Additionally, I welcome you to explore my artwork gallery and provide me with your quick and valuable feedback. </p>
                    <p> Thank you kindly for granting me your time. </p>
    </div>
    <app-navbar></app-navbar>

</div>
<app-footer></app-footer>