.aboutBack
{
    min-height: calc(100vh - 280px);
    min-height: 300px;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 15px 35px rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}
h1{
    margin-top: 50px;
    color: #ca96d6;
    text-align: center;
}
img{
    border-radius: 50%;
    width: 20%;
}
p{
    color: #8a2435;
    text-align: center;
    margin-top: 20px;
    font-size: 26px;
}
.image{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}