<div class="container-fluid constyle">
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>
    <div class="gallery-background">
        <h3>Sketch Gallery</h3>
       
            <img src="assets/images/Gallery/g4.jpg" alt="" class="img-header">
        
        
        <div class="row">
            <div class="col-6">
                <img src="assets/images/Gallery/g1.jpg" alt="" class="img1">
            </div>
        </div>
    </div>
    <app-navbar></app-navbar>
</div>
