.gallery-background
{
    min-height: calc(100vh - 280px);
    min-height: 300px;
    width: 90%;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    justify-content: space-between;
    text-align: center;
    padding: 50px;
}
.gallery-background h3 {
    color: brown;
    margin-top: 50px;
}
.img-header {
   width: 50%;
    padding-top: 20px;
}
img {
    width: 80%;
    height: 85%;
    margin-top: 50px;
}
.img1 {
    padding-top: 50px;
    height: auto;
    margin-top: 50px;
}