<div class="container-fluid constyle">
    <div class="gallery-background">
        <h3> Our Sketch Gallery</h3>
            <img src="assets/images/Gallery/g4.jpg" alt="" class="img-header">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                <img src="assets/images/Gallery/g10.JPG" alt=""> 
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                <img src="assets/images/Gallery/g12.JPG" alt="" class="img1">
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                <img src="assets/images/Gallery/g11.JPG" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                <img src="assets/images/Gallery/g6.JPG" alt="">
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                <img src="assets/images/Gallery/g7.JPG" alt="">
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                <img src="assets/images/Gallery/g3.jpg" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                <img src="assets/images/Gallery/g1.jpg" alt="" >
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                <img src="assets/images/Gallery/g17.JPG" alt="">
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                <img src="assets/images/Gallery/g2.jpg" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                <img src="assets/images/Gallery/g22.JPG" alt="" >
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                <img src="assets/images/Gallery/g8.JPG" alt="">
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                <img src="assets/images/Gallery/g21.JPG" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                <img src="assets/images/Gallery/g13.JPG" alt="" >
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                <img src="assets/images/Gallery/g14.JPG" alt="">
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                <img src="assets/images/Gallery/g19.JPG" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                <img src="assets/images/Gallery/g16.JPG" alt="" class="img1" >
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                <img src="assets/images/Gallery/g9.JPG" alt="">
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                <img src="assets/images/Gallery/g20.JPG" alt="" class="img1">
            </div>
        </div>
    </div>
    <app-navbar></app-navbar>
</div>
