.gallery-background
{
    width: 90%;
    min-height: calc(100vh - 280px);
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 15px 35px rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    text-align: center;
    padding: 50px; 
}

.gallery-background h3 {
    color: #ca96d6;
    margin-top: 50px;
    font-size: 40px;
}
.img-header {
   width: 50%;
    padding-top: 20px;
}
img {
    width: 80%;
    height: 85%;
    margin-top: 50px;
    border-radius: 20px;
    box-shadow: 16px 16px 40px rgb(255,255,255, 0.5);
    cursor: pointer;
}
.img1 {
    
    height: auto;
    margin-top: 100px;
}





