<div class="mainBackground">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="content">
                    <h2>The Freak Artst</h2>
                    <p>Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
                        Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
                        Hello Hello Hello Hello Hello Hello Hello Hello </p>
                    <a href="#"> Order Now</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="imgg">
                    <img src="assets/images/sketch.jpg" alt="image">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="count">
                    <h2>{{sketchCount}}</h2>
                    <h4> Total Sketches</h4>
                </div>
            </div>
            <div class="col">
                <div class="count">
                    <h2>{{orderCount}}</h2>
                    <h4> Total Orders</h4>
                </div>
            </div>
            <div class="col">
                <div class="count">
                    <h2>{{customerCount}}</h2>
                    <h4> Happy Customers</h4>
                </div>
            </div>
        </div>
    </div>
</div>