<div class="mainBackground">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="content">
                    <h2>The Freak Artist</h2>
                    <p>Art is simply the language of the soul. So gift your loved ones a beautiful handmade pencil sketch on their special day and wish them in a perfect way. </p>
                    <a href="#"> Order Now</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="imgg">
                    <img src="assets/images/sketch.jpg" alt="image">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                <div class="elements">
                    <img src="assets/images/rupeeLogo.png" alt="">
                    <div>
                        <h3> Affordable </h3>
                        <p> Experience the joy of owning exceptional artwork in India, at prices that fit your budget. </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                <div class="elements">
                    <img src="assets/images/rupeeLogo.png" alt="">
                    <h3> 100% Handmade </h3>
                    <p> Your pencil sketch will be entirely crafted by hand, without any use of digital tools.. </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                <div class="elements">
                    <img src="assets/images/safeDelivery.png" alt="" class="safe">
                    <h3> Safe Delivery </h3>
                    <p> We prioritize the safe and secure delivery of your artwork. </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                <div class="elements">
                    <img src="assets/images/smilee.png" alt="" class="safe">
                    <h3> 100% Satisfaction </h3>
                    <p> I am dedicated to providing top-notch artwork that leaves my clients completely satisfied. </p>
                </div>
            </div>
        </div>
        <div class="content-middle">
            <h2>Handmade Pencil Sketch - Best Personalized Gift</h2>
            <p>Giving your loved ones a stunning handmade pencil sketch is a truly unique way to express your affection. The Freak Artist is an excellent source for finding top-notch commissioned artworks. They offer exceptional services for Graphite and Charcoal pencil sketches at very reasonable rates. With The Freak Artist, you can conveniently order a tailor-made sketch of your preferred size for portrait sketches online. </p>
            <h4> Why you should gift a portrait sketch? </h4>
            <ul>
                <li>Gifting a portrait sketch is a unique and meaningful way to celebrate any special occasion.</li>
                <li>A portrait sketch is a unique and thoughtful way to show someone how much you care.</li>
                <li>A portrait sketch can be a source of pride for someone special.</li>
                <li>A portrait sketch is a touching and heartfelt way to express gratitude and appreciation.</li>
                <li>By gifting a portrait sketch, you are giving a one-of-a-kind present that truly captures the essence of the person being portrayed.</li>
            </ul>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-3 col-md-3 col-3">
                <div class="about">
                    <img src="assets/images/pic1.jpg" alt="My Pic"/>
                    <h4> Follow Me On </h4>
                </div>
            </div>
            <div class="col-lg-9 col-sm-9 col-md-9 col-9">
                <div class="about">
                    <h3> About me </h3>
                    <p> Greetings, Rathik Pratap Singh here, a skilled sketch artist from Uttar Pradesh. Allow me to introduce myself. For years now, since 2018 to be precise, I have dedicated myself to the art of sketching, a passion that runs deep within me. The world of pencil sketching is an incredibly fulfilling and demanding one, an art form that brings me immense joy. </p>
                    <p> My area of expertise lies in portrait sketching, where I have honed my skills by capturing the likenesses of friends, family, and even strangers. But it doesn't stop there. My aim is to go beyond mere physical representation and delve into the very essence of the individuals I portray, striving to encapsulate their personalities within my art. </p>
                    <p> I am in a perpetual quest for self-improvement, constantly refining my pencil sketching techniques. The desire to find new subjects to bring to life on paper drives me forward. If you happen to be in India and desire a bespoke sketch, I am at your service. Do not hesitate to reach out, for it would be my utmost pleasure to accommodate your request. Additionally, I welcome you to explore my artwork gallery and provide me with your quick and valuable feedback. </p>
                    <p> Thank you kindly for granting me your time. </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="count">
                    <h2>{{sketchCount}}</h2>
                    <h4> Total Sketches</h4>
                </div>
            </div>
            <div class="col">
                <div class="count">
                    <h2>{{orderCount}}</h2>
                    <h4> Total Orders</h4>
                </div>
            </div>
            <div class="col">
                <div class="count">
                    <h2>{{customerCount}}</h2>
                    <h4> Happy Customers</h4>
                </div>
            </div>
        </div>
    </div>
</div>