<div class="container-fluid constyle">
    <div class="termsBackground">
        <h2> TERMS AND CONDITIONS </h2>
        <p> Our commitment lies in meticulously crafting handmade artworks, paying utmost attention to every intricate detail. To ensure an exceptional journey for our valued customers, we kindly request your adherence to the following terms and conditions: </p>
        <p> 1. To ensure smooth processing, we require all orders to be placed through our online portal or by contacting our customer service representative via phone. </p>
        <p> 2. We offer various payment options for your convenience, including Paytm, PhonePe, UPI, major credit cards, and bank transfers. </p>
        <p> 3. We gladly accept returns only in cases of damaged artwork or incorrect shipments. Customers are responsible for covering the return shipping costs and must ensure that all returned items are adequately insured and tracked. </p>
        <p> 4. It is the customer's responsibility to provide accurate shipping addresses. In the event that an incorrect address is provided, resulting in the delivery of artwork to the wrong location, we cannot be held liable for the artwork. </p>
        <p> 5. For reliable shipping, we exclusively use insured DTDC priority mail to dispatch all artwork. Although we cannot provide a guarantee on delivery times, in most cases, customers can expect their artwork to arrive within 4-6 business days.</p>
        <p> 6. We shall not be held liable for any damages resulting from the improper use of our artwork or services. </p>
        <p> 7. We retain the right to decline service to any customer who fails to comply with these stated terms and conditions. </p>
            
        
    </div>
    
    <app-navbar></app-navbar>
    
</div>
<app-footer></app-footer>

