/* You can add global styles to this file, and also import other style files */

.constyle
{
    position: relative;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 50px;
}
